

<form asp-action="Index" method="get">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <label class="control-label">IBAN</label>
                <input name="iban" class="form-control" value="@ViewData["SearchIban"]" />
            </div>
            <label>&nbsp;</label>
            <div class="col-xs-8"><input type="submit" value="Search" class="btn btn-default" /></div>
        </div>
    </div>
</form>

